/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.plusIcon {
  position: fixed;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
  border-radius: 6px;
  z-index: 3;
}

.plusIcon:active {
  transform: scale(0.9);
}

.editIcon {
  position: fixed;
  right: 6%;
  bottom: 2%;
  cursor: pointer;
  border-radius: 6px;
  z-index: 3;
}

.editIcon:active {
  transform: scale(0.9);
}

.deleteIcon {
  position: fixed;
  right: 10%;
  bottom: 2%;
  cursor: pointer;
  border-radius: 6px;
  z-index: 3;
}

.deleteIcon:active {
  transform: scale(0.9);
}
